function StringUtils.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function StringUtils.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function StringUtils.endsWith 2
push argument 0
call String.length 1
pop local 0
push argument 0
push local 0
push constant 1
sub
call String.charAt 2
pop local 1
push local 1
return
function StringUtils.concatenate 2
push constant 0
pop local 1
push argument 0
call String.length 1
push argument 1
call String.length 1
add
call String.new 1
pop local 0
label WHILE_EXP0
push local 1
push argument 0
call String.length 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
push local 1
call String.charAt 2
call String.appendChar 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 1
call String.length 1
lt
not
if-goto WHILE_END1
push local 0
push argument 1
push local 1
call String.charAt 2
call String.appendChar 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
return
function StringUtils.startsWith 1
push argument 0
push constant 0
call String.charAt 2
pop local 0
push local 0
return
